.article-content-parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    img{
        height: 300px;
        width: 100%;
    }
    .about-div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     
      div{
        display: flex;
        flex-direction: column;
         gap: 20px;
        max-width: 1200px;
        background-color: white;
        border-radius: 3px;
        margin-top: -150px;
        padding: 40px;
        h1{
            text-align: center;
            font-weight: 300;
        }
        p{
            font-weight: 300;
            
        }
      }
    }
}