<div class="card-container">
      <ng-container *ngFor="let eacharticle of articles">
          <div class="each-card">
            <img [src]="eacharticle.image_url" alt="">
            <h6><i class="fa-solid fa-calendar"></i> June 29th,2021</h6>
            <div class="about-div">
                <h1 [innerHTML]="eacharticle.title | highlight:searchKeyword"></h1>
              <p [innerHTML]="eacharticle.summary.slice(0,100) | highlight:searchKeyword"></p>

                <h5 (click)="onReadmoreClick(eacharticle.id)">Readmore <i class="fa-solid fa-arrow-right"></i></h5>
            </div>

        </div>
      </ng-container>
   
</div>