<mat-grid-list style="margin-top: 10px;" cols="3"   gutterSize="10px" rowHeight="500px"  >
    <mat-grid-tile>
    <div class="each-card">
        <img src="https://images.unsplash.com/photo-1621955964441-c173e01c135b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h6><i class="fa-solid fa-calendar"></i> June 29th,2021</h6>
        <div class="about-div">
            <h1>The 2020 World's Most Valuable Brands</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti et dignissimos culpa incidunt! Corporis, dolore facere earum officia tenetur vel quos ad quibusdam ipsum .</p>

              <h5>Readmore <i class="fa-solid fa-arrow-right"></i></h5>
        </div>
      
    </div>
    </mat-grid-tile>
    
   
</mat-grid-list>